table
{
    margin: auto;
    margin-top: 50px; 
    border: 1px solid rgb(218, 216, 216);
    width: 50%;


}
thead
{
    border-bottom: 1px solid rgb(218, 216, 216);

}
th,td
{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
img.itemimg
{
    float: left;
    margin: auto;
    padding-right: 15px;
}

h5.posttype
{
    color: white;
    text-align: center;
    font-size: 16px;
}
div.posttypebox
{
    background-color:rgb(153, 167, 204);
    border: 1pt solid rgb(231, 231, 231);
    border-radius: 30px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 5px;
    float: right;
    position: relative;
    text-align: center;
}
tr.postfooter
{
    border-bottom: 1px solid rgb(236, 236, 236);
}
button#btun1
{
  position: relative;
  background-color: #4265a5;
  border: none;
  border-radius: 2pt;
  font-size: 16px;
  color: #FFFFFF;
  padding: 5px;
  width: 80px;
  text-align: center;
  transition: transform .2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}


button#btun1:hover
{
  background-color: rgb(91, 136, 173);
  color: #FFFFFF;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
input#btun2
{
  position: relative;
  color: #FFFFFF;
  background-color: #9b5dc5;
  border: none;
  border-radius: 2pt;
  font-size: 16px;
  padding: 5px;
  width: 80px;
  text-align: center;
  transition: transform .2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  float: right;
}

input#btun2:hover
{
  background-color: rgb(129, 91, 173);
  color: #FFFFFF;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

input#comment
{
    width: 80%;
    border: 0px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
}
