.locationForm
{
  margin-top: 50pt;
  margin-left: 300px;
  
}
.header 
{
    margin-left: 50pt;
    font-weight: bold;
    
}
button#btun1
{
  position: relative;
  background-color: #4265a5;
  border: none;
  border-radius: 2pt;
  font-size: 16px;
  color: #FFFFFF;
  padding: 5px;
  width: 80px;
  text-align: center;
  transition: transform .2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.select{
margin-top: 20px;
width:50%;

}

button#btun1:hover
{
  background-color: rgb(91, 136, 173);
  color: #FFFFFF;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
form.AddItemForm
{
 
}
div.totl
{
 
}
fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}